.card-ticket-height {
    min-height: 135px;
}

.card-hover-border:hover {
    border: 1px solid #6777ef;
}

.tickets-border {
    border-radius: 15px;
}

.ribbon.float-right.tickets-ribbon {
    margin-right: 20px;
    margin-top: 20px;
    border-radius: 3px 3px 3px 3px;
    position: absolute;
    right: 0;
    z-index: 1;
}

.hover-effect-tickets {
    transition-duration: 1s;
    box-shadow: 0 8px 12px 0 rgb(0 0 0 / 10%);
    border: 1px solid rgba(0, 0, 0, .1);
    height: 90%;
}

.tickets-listing-details {
    box-shadow: none;
    flex: auto;
    display: flex;
    flex-wrap: wrap;
    line-break: anywhere;
    align-items: flex-start;
    padding: 25px;
}

h3.tickets-listing-title {
    font-size: 1rem;
    margin-bottom: 3px;
    font-weight: 200 !important;
}

.edit-btn {
    padding-left: 6px !important;
}

.tickets-edit {
    right: 35px;
    color: #ffa426 !important;
    background-color: #fff !important;
    border: none;
    box-shadow: 0 2px 6px #fff;
    font-size: 15px;
}

.action-btn {
    padding: 0 4px !important;
    width: 25px;
    display: inline-block;
}

.ticket-action-btn {
    margin: -15px 20px 15px 0;
}
