.list-status a {
    border: 1px solid #eee;
    padding: 15px;
    display: inline-block;
    width: 100%;
    border-radius: 4px;
}

a:active, a:focus, a:hover, a:visited {
    text-decoration: none;
}

a {
    color: #337ab7;
    text-decoration: none;
}

a {
    background-color: transparent;
}

.progress-bar-success {
    background-color: #ff6f00;
}
