.article-card-name {
    width: auto;
    height: auto;
    overflow: hidden;
}

.article-card-department {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.article-card-border:hover {
    border: 1px solid #6777ef;
    border-radius: 5px 5px 0 0 !important;
}

.article-img {
    height: 180px !important;
    object-fit: cover;
}

.article-card-border{
    .card-img-top {
        border-top-left-radius: 5px !important;  
        border-top-right-radius: 5px !important;  
    }
}
