.position-relative {
    position: relative !important;
}

.hover-effect-category {
    transition-duration: 1s;
    box-shadow: 0 8px 12px 0 rgb(0 0 0 / 10%);
    border: 1px solid rgba(0, 0, 0, .1);
    height: 90%;
    border-radius: 15px;
}

.hover-effect-category:hover {
    box-shadow: 0 8px 12px 0 rgb(0 0 0 / 10%);
    transform: translateY(-5px);
    opacity: 1;
}

.category-listing-details {
    display: flex;
    align-items: flex-start;
    padding: 25px 25px 20px;
    box-shadow: none;
    flex: auto;
}

.category-listing-description {
    padding-top: 0;
    flex: 1;
}

.category-data {
    line-height: 30px !important;
    margin-left: 10px;
}

h3.category-listing-title {
    font-size: 1rem;
    margin-bottom: 3px;
    font-weight: 200 !important;
}

.text-decoration-none {
    text-decoration: none !important;
}

.text-dark {
    color: #343a40 !important;
}

.fa_fa_20px {
    font-size: 1em !important;
}

.fa-file-contract {
    color: #eb2f35;
}

.fa-street-view {
    color: maroon;
}
