.hover-effect-tax-rate {
    transition-duration: 1s;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.1);
    height: 90%;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.hover-effect-tax-rate:hover {
    transform: translateY(-5px);
    opacity: 1.0;
    border: 1px solid color(primary);
}

.hover-effect-tax-rate:hover a.tax-rate-edit {
    visibility: visible;
}

.hover-effect-tax-rate:hover a.tax-rate-delete {
    visibility: visible;
}

.tax-rate-listing-details {
    display: flex;
    flex-wrap: wrap;
    line-break: anywhere;
    align-items: flex-start;
    padding: 18px 25px 0 25px;
    box-shadow: none;
    flex: auto;
}

.tax-rate-listing-description {
    padding-top: 0;
    flex: 1;
}

.tax-rate-data {
    line-height: 30px !important;
    margin-left: 10px;
}

h3.tax-rate-listing-title {
    font-size: 1rem;
    margin-bottom: 3px;
    font-weight: 200 !important;
}

h3.tax-rate-listing-title a {
    color: color(primary);
}

.tax-rate-action-btn .tax-rate-delete {
    position: absolute;
    right: 10px;
    bottom: 1.5em;
    color: red !important;
    background-color: white !important;
    border: none;
    box-shadow: 0 2px 6px white !important;
    font-size: 15px;
}

.tax-rate-delete {
    visibility: hidden;
}

.tax-rate-action-btn .tax-rate-edit {
    position: absolute;
    right: 35px;
    bottom: 1.5em;
    color: #ffa426 !important;
    background-color: white !important;
    border: none;
    box-shadow: 0 2px 6px white;
    font-size: 15px;
}

.tax-rate-edit {
    visibility: hidden;
}

.tax-rate-card-hover-border:hover {
}

.tax-rate-badge {
    font-size: 10px !important;
    padding: 5px 7px !important;
    border-radius: 5px !important;
}

.details-page {
    max-height: 60vh !important;
    overflow-y: auto;
}

.tax-rate-margin {
    margin: 2px 0 0 35px;
}
